.App {
  background-color: #a9a9a9;
  min-height: 50rem;
}

.div-style {
  padding: 10rem;
  margin-right: 8rem;
  margin-left: 6rem;
}

.icon-style {
  font-size: 48px;
  color: white;
}

.input-style {
  margin-left: 12rem;
  margin-right: 12rem;
}
